# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "94aba6dfcf97f015117a27f3020c64aa"
name = "bundle-craft"
application_url = "https://bundle-craft-server-production.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "/webhooks"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,write_cart_transforms,read_cart_transforms,read_publications,write_publications"

[auth]
redirect_urls = [
  "https://bundle-craft-server-production.up.railway.app/auth/callback",
  "https://bundle-craft-server-production.up.railway.app/auth/shopify/callback",
  "https://bundle-craft-server-production.up.railway.app/api/auth"
]
